<!doctype html>
<html lang="{{ data.local | default: site.locale | default: 'en' }}">
  <head>
    {% render "head", metadata: site.metadata, data: data, url: resource %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }} container">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main class="">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
