<footer class="footer">
  <p>Contact me at <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a></p>
  <p>Made with ❤️ using <a href="https://www.bridgetownrb.com/">bridgetown</a> and theme is <a href="https://github.com/rhl-bthr/parchment">parchment</a></p>
</footer>
